/* banner */
.hero-bg{
  top:-20vh;
  height:168vh;
  width:calc(100vw);
  left:-2px;
  -o-object-fit:cover;
  object-fit:cover;
  max-width:inherit;
  pointer-events:none;
}
.hero-bg-top{
  position: absolute;
  right:0;
  top:0;
  width:79vw;
  transform:translateY(-70%) translateX(20%);
}
.hero-bg-top-shape{
  position: absolute;
  right:0;
  top:80px;
  width:240px;
  transform:translateX(70%);
}
.shape-1{
  position: absolute;
  top:65vh;
  left:0;
  width:300px;
  max-width:inherit;
  transform:translateX(-65%);
}
.shape-3{
  position: absolute;
  right:0;
  top:0;
  /* width:1400px;
  height:1330px; */
  max-height:105vh;
  max-width:80%;
  object-fit:contain;
  -o-object-position:top right;
  object-position:top right;
}
.image-change, .shape-8{
  position: absolute;
  right:0;
  top:0;
  max-height:95vh;
  max-width:80%;
  -o-object-fit:contain;
  object-fit:contain;
  -o-object-position:top right;
  object-position:top right;
}
.z-index-1{ z-index: 1; }
.z-index-2{ z-index: 2; }
.z-index-3{ z-index: 3; }

@media screen and (max-width: 990px){
  .image-change, .shape-8{
    max-width: 100%;
    right: -15%;
  }
}