.event{
  margin-top: 130px;  
}
.bg-event{
  background-image: url('../img/section-3.svg');
  background-position-y: 150px;
  background-size: 100%;
  background-repeat: no-repeat;
}
.event .card{
  position: relative;
  transition: all 0.1s ease;
}
.event .card .card-body{
  width: 100%;
  height: 100%;
}
.event .card:hover{
  margin-top: -15px;
  margin-bottom: 15px;
  box-shadow: 0 1rem 3rem rgba(0,0,0,.175);
} 
.event .card:hover .card-body{
  background-color: rgba(178, 76, 209, 0.5);
} 
.diff{
  height: 350px;
}
.diff img{
  object-fit: cover;
}

@media screen and (max-width: 768px){
  .bg-event{
    background-size: 115%;
    background-position-y: 200px;
  }
}

@media screen and (max-width: 576px){
  .diff{
    height: auto;
  }
  .diff img{
    width: 100%;
  }
}