html{ scroll-behavior: smooth; }
body{ background-color: #F3F7FC;font-family: 'Nunito', sans-serif; }
.main{
  top: 0;
  left: 0;
  width: 100%;
  position: absolute;
  overflow-x: hidden;
}
.text--green{
  color: #9ecb45;
}
.rounded--lg{
  border-radius: 20px;
}
.divider-vertical{  
  width: 1px;
  height: 60px;
  background-color: rgb(107, 107, 107);
}
.bg--primary{
  background-color: #F57045;
}
.text--primary{
  color: #F57045;
}