html{ scroll-behavior: smooth; }
body{ background-color: #F3F7FC;font-family: 'Nunito', sans-serif; }
.main{
  top: 0;
  left: 0;
  width: 100%;
  position: absolute;
  overflow-x: hidden;
}
.text--green{
  color: #9ecb45;
}
.rounded--lg{
  border-radius: 20px;
}
.divider-vertical{  
  width: 1px;
  height: 60px;
  background-color: rgb(107, 107, 107);
}
.bg--primary{
  background-color: #F57045;
}
.text--primary{
  color: #F57045;
}
.text--blue{
  color: #3d8cff;
}
.bg-event{
  background-image: url('../img/section-3.svg');
  background-position-y: 150px;
  background-size: 100%;
  background-repeat: no-repeat;
}
@media screen and (max-width: 500px){
  .bg-event{
    background-image: none;
  }
}
.btn-wa{
  position: fixed;
  bottom: 24px;
  right: 24px;
  z-index: 1000;
  /* padding: 16px; */  
}
.btn-wa .btn{
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}