<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="icon" href="<%= BASE_URL %>favicon.png">    
    <title>SUKSESUTBK</title>
    <script>
      // ====================================================================================================================
      // This text is simply to make sure the 404.html file is bigger than 512 bytes, else, internet explorer will ignore it.
      // Thank you internet explorer for requiring such awesome workarounds in order to work properly
      // ====================================================================================================================
      sessionStorage.redirect = location.href;
    </script>
    <meta http-equiv="refresh" content="0;URL='/suksesutbk'">
  </head>
  <body>
    <noscript>
      <strong>We're sorry but SUKSESUTBK doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
  </body>
</html>
