<template>
  <div class="home overflow-hidden">
    <img src="@/assets/img/banner.png" alt="banner" class="img-banner sm:w-full">
    <div class="absolute w-full" style="top: 0;letf: 0;">
      <!-- navbar -->
      <FixedNavbar id="fixedHeader" class="hidden"/>
      <Navbar/>
      <!-- banner -->
      <section class="h-banner hidden sm:flex items-center mt-20">
        <div class="container">
          <div class="w-1/3 text-white">
            <p class="text-4xl mb-4">
              <span>Selamat Datang</span> <br>
              <span class="font-bold italic capitalize">{{ nama }}</span>
            </p>
            <div>
              Selamat mengikuti TryOut UTBK 2021. Dapatkan Assessment Report, soal-soal
              prediktif, review & pembahasan soal, penilaian IRT System, peringkat nasional,
              rekomendasi PTN/Prodi, statistik & progress TryOut, serta fitur-fitur 
              unggulan lainnya sesuai regulasi UTBK terupdate.
            </div>
          </div>
        </div>
      </section>
      <!--  -->
      <section class="mt-tall sm:mt-4">
        <div class="container">
          <div class="hidden sm:block">
            <div class="grid grid-cols-1 sm:grid-cols-2 gap-10 mb-4">
              <div></div>
              <div>
                <Profil/>
                <!-- <Performance/> -->
              </div>
            </div>
          </div>
          <PaketTryout/>
        </div>
      </section>
      <!--  -->
      <section class="mt-12">
        <div class="container">
          <div class="grid grid-cols-1 sm:grid-cols-10 gap-10">
            <div class="sm:col-span-4 order-2 sm:order-1">
              <div class="text-gray-700 text-2xl font-bold uppercase mb-6">Statistik Progres</div>
              <StatistikProgress/>
            </div>
            <div class="sm:col-span-6 order-1 sm:order-2">
              <Simulasi/>
            </div>
          </div>
        </div>
      </section>
      <!--  -->
      <section class="mt-12">
        <div class="container">
          <div class="text-gray-700 text-2xl font-bold uppercase mb-6">video favorit</div>          
          <VideoSlider/>
        </div>
      </section>
      <!--  -->
      <section class="mt-12">
        <div class="container">
          <div class="text-gray-700 text-2xl font-bold uppercase">bonus dan fasilitas</div>
          <BonusFasilitasSlider/>
        </div>
      </section>
      <!--  -->
      <section class="mt-20">
        <div class="container">
          <Peringkat/>
        </div>
      </section>
      <!--  -->
      <section 
        class="mt-12 bg-cover bg-no-repeat free">
        <div class="container">
          <div class="flex items-center" style="height: 400px;">
            <div>
              <h1 class="text-gray-700 text-3xl font-bold">Coba Gratis!</h1>
              <p class="my-4">
                Coba dan lihat cara kerja simulasi, kemudian <br>
                rasakan manfaatnya secara langsung
              </p>
              <a href="#paket">
                <button class="btn-primary bg-orange-500 hover:bg-orange-600">
                  Coba Sekarang
                </button>
              </a>
            </div>
          </div>
        </div>
      </section>
      <!--  -->
      <a href="https://api.whatsapp.com/send?phone=6282228844411" target="_blank" v-show="visible" @click="backtoTop" class="btn-icon float bg-green-500 hover:bg-green-600">
        <img src="@/assets/icons/whatsapp.svg" alt="icon" width="32px">
      </a>
      <!--  -->
      <ModalBayarPaket />
      <!--  -->
      <Footer/>
    </div>
  </div>
</template>

<script>
import Navbar from '@/components/Navbar'
import FixedNavbar from '@/components/FixedNavbar'
import PaketTryout from '@/components/Home/PaketTryout'
import Profil from '@/components/Home/Profil'
// // import Performance from '@/components/Home/Performance'
import StatistikProgress from '@/components/Home/StatistikProgress'
import Simulasi from '@/components/Home/Simulasi'
import VideoSlider from '@/components/Home/VideoSlider'
import BonusFasilitasSlider from '@/components/Home/BonusFasilitasSlider'
import Peringkat from '@/components/Home/Peringkat'
import Footer from '@/components/Footer'
import ModalBayarPaket from '@/components/ModalBayarPaket'

export default {
  components: {
    ModalBayarPaket,
    Footer,
    Peringkat,
    BonusFasilitasSlider,
    VideoSlider,
    Simulasi,
    StatistikProgress,
    // Performance,
    Profil,
    PaketTryout,
    FixedNavbar,
    Navbar
  },
  data: () => ({
    visible: false
  }),
  created() {
    var peserta = JSON.parse(window.localStorage.getItem('dataPeserta'))
    this.$store.dispatch('dataDashboard/getDataDashboard', peserta.id)  
    window.addEventListener('scroll', this.handleScroll);
  },
  destroyed () {
    window.removeEventListener('scroll', this.handleScroll);
  },
  methods: {
    handleScroll () {
      if (window.scrollY > 140) {
        this.visible = true
      } else {
        this.visible = false
      }
    },
    backtoTop() {
      window.scroll({
        top: 0,
        left: 0,
        behavior: 'smooth'
      })
    }
  },
  computed: {
    nama() {
      return JSON.parse(window.localStorage.getItem('dataPeserta')).nama
    }
  }
}
</script>

<style scoped>
.h-banner{
  height: 80vh;
}
.free{
  background-image: url('../assets/img/Fother.png');
}
.mt-tall{
  margin-top: 350px;
}
.img-banner{
  margin-top: -100px;
}
.float{
  position: fixed;
  bottom: 32px;
  right: 32px;
  width: 48px;
  height: 48px;
  @apply shadow;
}
@media screen and (max-width: 640px) {
  .img-banner{
    max-width: 200%;
    margin-left: -80%;
  }
}
</style>