.testimoni{
  padding-top: 200px;
}
.bg-testimoni{
  background-image: url('../../img/fitur/landing-minidil-red-shape.svg');
  background-size: 100%;
  background-repeat: no-repeat;
}
.testimoni .swiper-wrapper{
  margin-left: -20%;
}
.testimoni-desc{
  width: 50%;
}
.testimoni .swiper-slide{
  width: 40%;
}
.testimoni .swiper-slide .card-body{
  height: 200px;
}
.desc-testimoni::before{
  content: '';
  background-image: url('../../img/quote.svg');
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  opacity: 0.5;
  position: absolute;
  left: 20px;
}
.desc-testimoni{
  padding-left: 50px;
  margin-top: 16px;
}
.swiper-container{
  overflow-x: hidden;
  height: 300px;
}

@media screen and (max-width: 768px){
  .testimoni{
    padding-top: 100px;
  }
  .testimoni .swiper-slide{
    width: 80%;
  }
  .testimoni .swiper-wrapper{
    margin-left: 0%;
  }
}

@media screen and (max-width: 576px){
  .testimoni-desc{
    width: 90%;
  }
}

@media screen and (max-width: 500px){
  .testimoni .swiper-slide .card-body{
    height: auto;
  }
  .bg-testimoni{
    background-position-y: 300px;
  }
  .swiper-container{
    height: 350px;
  }
  .desc-testimoni::before{
    display: none;
  }
  .desc-testimoni{
    padding-left: 0px;
  }
}