<template>
  <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
    <img src="@/assets/img/simulasi.png" alt="simulasi">
    <div>
      <p class="text-xl sm:text-2xl font-bold mb-4">
        <span class="text-teal-500">SIMULASI</span><br>
        <span class="text-orange-500">RASIONALISASI UTBK 2021</span>
      </p>
      <P class="mb-4 text-gray-700">
        Dapatkan fasilitas SIMULASI RASIONALISASI UTBK 
        hanya untuk kamu yang membeli fasilitas paket premium 
        (Sukses-1, Sukses-2, Sukses-3). <br> Bandingkan nilai 
        akhir kami dengan standar nilai PTN di seluruh Indonesia
      </P>
      <button @click="$router.push({ name: 'simulasi-rasional' })" class="btn-primary bg-orange-500">
        <div class="flex">
          Selengkapnya
        </div>
      </button>
    </div>
  </div>
</template>