<template>
  <Modal :visible="modalKelompokUji">
    <template v-slot:content>
      <div class="card max-w-full sm:max-w-md overflow-visible sm:mx-auto">
        <div class="card-body bg-teal-500 text-white">
          <p class="text-xl font-bold">Pilih Kelompok Uji</p>
        </div>
        <div class="card-body">
          <p class="text-sm mb-3 text-gray-800">
            Silahkan pilih kelompok uji terlebih dahulu untuk bisa melanjutkan ke halaman utama
          </p>
          <Option 
            :items="paket" 
            :item="{
              text: 'text',
              value: 'value',
            }"
            :selected-value.sync="kelompok_uji"
            placeholder="Pilih Kelompok Uji"
            v-model="data.kelompok_uji"></Option>
          <Notif class="mt-4"/>
        </div>
      </div>
    </template>
  </Modal>
</template>

<script>
import { mapState } from "vuex";
import Modal from '../Modal'
import Option from '../Option'
import Notif from '../Notif'

export default {
  components: {
    Notif,
    Option,
    Modal
  },
  data: () => ({
    kelompok_uji: '',
    data: {
      kelompok_uji: ''
    },
    paket: [
      { text: 'SOSHUM', value: 'soshum' },
      { text: 'SAINTEK', value: 'saintek' }
    ],
  }),
  computed: {
    ...mapState('dataAuth', ['modalKelompokUji'])
  },
  watch: {
    'data.kelompok_uji': function (val) {
      this.$store.dispatch('dataAuth/postKelompokUji', {
        kelompok_uji: val
      })
    }
  }
}
</script>

<style>

</style>