<template>
  <ValidationObserver v-slot="{ invalid }">
    <form @submit.prevent="onSubmit">
      <p class="mb-4 text-center text-gray-800">Reset Sandi</p>
      <div class="mb-4">
        <ValidationProvider name="password" rules="required" v-slot="{ errors }">
          <div class="flex">
            <input 
              v-model="data.password" 
              class="text-field rounded-tr-none rounded-br-none" 
              :type="showPassword?'text':'password'" 
              placeholder="Kata sandi">
            <div @click="showPassword=!showPassword" class="btn-primary px-2 rounded-tl-none rounded-bl-none">
              <img :src="require(`@/assets/icons/${showPassword?'eye-outline.svg':'eye-off-outline.svg'}`)" alt="icon" width="25px">
            </div>  
          </div>
          <p class="field-message">{{ errors[0] }}</p>              
        </ValidationProvider>            
      </div>
      <div class="mb-4">
        <ValidationProvider name="konfirmasi" rules="required|password:@password" v-slot="{ errors }">
          <div class="flex">
            <input 
              v-model="data.confirm" 
              class="text-field rounded-tr-none rounded-br-none" 
              :type="showPassword?'text':'password'" 
              placeholder="Konfirmasi kata sandi">
            <div @click="showPassword=!showPassword" class="btn-primary px-2 rounded-tl-none rounded-bl-none">
              <img :src="require(`@/assets/icons/${showPassword?'eye-outline.svg':'eye-off-outline.svg'}`)" alt="icon" width="25px">
            </div>  
          </div>
          <p class="field-message">{{ errors[0] }}</p>              
        </ValidationProvider>            
      </div>
      <div class="flex justify-between items-center">
        <a 
          @click="$router.push({ name: 'auth', params: {form: 'login'} })"
          href="javascript:void(0)" 
          class="text-gray-600 hover:underline">
          Kembali ke login
        </a>
        <button :disabled="invalid" type="submit" class="btn-primary rounded-full px-6">
          Simpan
        </button>
      </div>
    </form>
  </ValidationObserver>
</template>

<script>
import { extend } from 'vee-validate';
import { required } from 'vee-validate/dist/rules';

extend('password', {
  params: ['target'],
  validate(value, { target }) {
    return value === target;
  },
  message: 'Kata sandi tidak cocok'
});

extend('required', {
  ...required,
  message: 'Data harus di isi'
});
export default {
  data: () => ({
    data: {
      password: '',
      confirm: ''
    }
  }),
  methods: {
    onSubmit() {
      alert(this.data)
    }
  }
}
</script>